<!-- views/service-detail.hbs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Servicio</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <div class="container mt-5">
    <h1>Error 404</h1>
    <p>No existe el servicio</p>
    <a href="/services" class="btn btn-secondary">Volver a los servicios</a>
  </div>
</body>
</html>